src/imagens
src/imagens/*
src/imagens/*/*.jpg

src/resto

background.png
grabcut.png
new_background.png
result_image.png
```
new_background.jpg
imagens/art_background/arte_exposta - 89427136.jpg
imagens/art_background/arte_exposta - cropped.jpg
imagens/art_background/arte_exposta - ret.jpg
src/elden-ring-maliketh-4k-wallpaper-uhdpaper.com-259@1@g.jpg
